body{
    text-align: center;
}
marquee{
    color: cornsilk;
    background-color: crimson;
    border-radius: 200px;
    width: 900px;
    text-shadow: 00.9;
    font-size: 27px;      
}
.menu{
    height: 30px;
}
.line{
    border-radius: 5px;
    background-color: crimson;
    height: 6px;
    width: 60px;
    margin-bottom: 20px;
    text-align: center;
}
img{
    width: 500px;
    height: 500px;
}
li{
    margin-bottom: 30px;
    border-radius: 75px;
    margin-top: 5px;
}
.li_1{
    border-bottom-right-radius: 300px;
}
.li_2{
    border-bottom-left-radius: 300px;
}
.li_3{
    border-bottom-right-radius: 300px;
}
.li_4{
    border-bottom-right-radius: 300px;
}
li_1 img:hover{
    transform: scale(0.9);
}
li_2 img:hover{
    transform: scale(0.9);
}
li_3 img:hover{
    transform: scale(0.9);
}
.img_1{
    text-align: center;
}

#mycarousel{
    background-color: crimson;
    color: white;
}
span{
    height: 40px; 
    height: 30;
}    
.img_1{
    height: 200px;
    width: 200px;
    border-radius: 175px;
}